body {
      font-family: Arial, sans-serif;
      background: #323131;
      padding: 20px;
    }

    h2 {
      text-align: center;
    }

    #container {
      max-width: 400px;
      margin: auto;
      background: rgb(138, 133, 133);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    #taskInput {
      width: 70%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    #addBtn {
      padding: 9px 12px;
      border: none;
      background: #007bff;
      color: white;
      border-radius: 5px;
      cursor: pointer;
    }

    #addBtn:hover {
      background: #0056d2;
    }

    ul {
      margin-top: 20px;
      padding: 0;
    }

    li {
      list-style: none;
      background: #fafafa;
      padding: 10px;
      margin-bottom: 8px;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #e0e0e0;
    }

    button {
      padding: 5px 8px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-left: 5px;
    }

    .editBtn {
      background: #ffc107;
    }
    .editBtn:hover {
      background: #e0a800;
    }

    .deleteBtn {
      background: #dc3545;
      color: white;
    }
    .deleteBtn:hover {
      background: #b02a37;
    }