#gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in;
}
img.loaded {
    opacity: 1;
}
